*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 50rem;
    font-size: 10px;
    background: rgb(226, 224, 224);
    font-family: 'PT Sans', sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10vh;
}
h2{
    font-size: 2rem;
    color: rgb(226, 224, 224);
}
p{
    font-size: 1rem;
    color: rgb(226, 224, 224);
    margin: 1vw;
}

.container1{
    display: flex;
    margin-bottom: 1vh;
}
.container1 div{
    width: 33.3333vw;
    height: 30vh;
}
.div1{
    margin-right: 1vw;
}
.img1{
    width: 33.3333vw;
    height: 30vh;
}
.card1{
    cursor: pointer;
}
.div1front, .div1back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.div1front{
    transform: perspective(1000px) rotateY(0deg);
}
.div1back{
    position: absolute;
    bottom: 70%;
    background: blue;
    transform: perspective(1000px) rotateY(180deg);
}
.back-content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card1:hover .div1front{
    transform: perspective(1000px) rotateY(-180deg);
}
.card1:hover .div1back{
    transform: perspective(1000px) rotateY(0deg);
}

.div2{
    margin-right: 1vw;
}
.div2back{
    position: absolute;
    bottom: 70%;
    background: green;
    transform: perspective(650px) rotateY(180deg);
}
.div1front, .div2back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.card1:hover .div2back{
    transform: perspective(650px) rotateY(0deg);
    
}

.div3back{
    position: absolute;
    bottom: 70%;
    background: rgb(248, 53, 150);
    transform: perspective(650px) rotateY(180deg);
}
.div1front, .div3back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.card1:hover .div3back{
    transform: perspective(650px) rotateY(0deg);
    
}


.container2{
    display: flex;
    margin-bottom: 1vh;
}
.container2 div{
    height: 30vh;
}
.img2{
    width: 37.5vw;
    height: 30vh;
}
.home{
    width: 9vw;
    height: 5vh;
    font-size: 1rem;
}
.div4{
    width: 37.5vw;
    height: 30vh;
}
.div4front, .div4back{
    width: 37.75%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.div4front{
    transform: perspective(1000px) rotateY(0deg);
}
.div4back{
    position: absolute;
    bottom: 40%;
    background: rgb(226, 226, 4);
    transform: perspective(1000px) rotateY(180deg);
}
.back-content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card1:hover .div4front{
    transform: perspective(1000px) rotateY(-180deg);
}
.card1:hover .div4back{
    transform: perspective(1000px) rotateY(0deg);
}
.div5{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0.5vw;
    margin-left: 1vw;
    background: rgb(226, 224, 224);
}
.div6{
    width: 37.5vw;
    background: lightblue;
}
.div4front, .div6back{
    width: 37.75%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.div6back{
    position: absolute;
    bottom: 40%;
    background: rgb(5, 226, 215);
    transform: perspective(1000px) rotateY(180deg);
}
.card1:hover .div6back{
    transform: perspective(1000px) rotateY(0deg);
}


.container3{
    display: flex;
}
.container3 div{
    width: 33.3333vw;
    height: 30vh;
}
.div7{
    margin-right: 1vw;
}
.div7back{
    position: absolute;
    background: rgb(0, 246, 164);
    transform: perspective(650px) rotateY(180deg);
}
.div1front, .div7back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.card1:hover .div7back{
    transform: perspective(650px) rotateY(0deg);
    
}
.div8{
    margin-right: 1vw;
}
.div8back{
    position: absolute;
    background: rgb(255, 0, 179);
    transform: perspective(650px) rotateY(180deg);
}
.div1front, .div8back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.card1:hover .div8back{
    transform: perspective(650px) rotateY(0deg);
    
}
.div9back{
    position: absolute;
    background: rgb(255, 88, 21);
    transform: perspective(650px) rotateY(180deg);
}
.div1front, .div9back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}
.card1:hover .div9back{
    transform: perspective(650px) rotateY(0deg);
    
}

@media only screen and (min-width: 768px){
    .container{
        width: 100vw;
    }
    .container1 div{
        width: 33.3333vw;
        height: 35vh;
    }
    .img1{
        width: 33.3333vw;
        height: 35vh;
    }
    .container2 div{
        height: 35vh;
    }
    .img2{
        width: 37.5vw;
        height: 35vh;
    }
    .home{
        width: 7vw;
        height: 5vh;
    }
    .div1back, .div2back, .div3back{
        bottom: 65%;
    }
    .div4back, .div6back{
        bottom: 30%;
    }
    .div4front, .div6back, .div4back{
        width: 37.75%;
    }
    .div4{
        width: 37.5vw;
    }
    .div5{
        width: 25vw;
    }
    .div5 h2{
        font-size: 1.1rem;
    }
    .div6{
        width: 37.5vw;
    }
    .container3 div{
        width: 33.3333vw;
        height: 35vh;
    }
}
@media only screen and (min-width: 1024px){
    body{
        display: flex;
        justify-content: space-around;
        font-size: 10px;
        font-family: 'PT Sans', sans-serif;
    }
    .container{
        width: 60vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .container1{
        display: flex;
    }
    .container1 div{
        width: 20vw;
        height: 40vh;
    }
    .img1{
        width: 20vw;
        height: 40vh;
    }
    .div1back, .div2back, .div3back{
        bottom: 60%;
    }
    .div4back, .div6back{
        bottom: 20%;
    }
    .div4front, .div6back, .div4back{
        width: 41.75%;
    }


    .container2{
        display: flex;
    }
    .container2 div{
        height: 40vh;
    }
    .img2{
        width: 25vw;
        height: 40vh;
    }
    .home{
        width: 5vw;
        height: 10vh;
    }
    .div4{
        width: 25vw;
    }
    .div5{
        width: 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .div5 h2{
        font-size: 1.2rem;
    }
    .div6{
        width: 25vw;
    }
    .container3{
        display: flex;
    }
    .container3 div{
        width: 20vw;
        height: 40vh;
    }
}